[Unit]
Description=MinimServer

[Service]
RemainAfterExit=true
ExecStart=/opt/minimserver/bin/startd
ExecStop=/opt/minimserver/bin/stopall

[Install]
WantedBy=network.target
